.carousel-item {
  background-color: #feeae9;
  padding: 2.6rem;
  border-radius: 1rem;
}
.subscribe {
  background-color: #feeae9;
}
.Catagories > div > div > div img {
  width: 100px;
}
button.panda-btn-buy-now {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
